{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron text-center bg-light p-5 rounded">
        <h1 class="display-4">Bienvenido a AutoVentas</h1>
        <p class="lead">Tu concesionaria de autos de confianza.</p>
        <hr class="my-4">
        <p>Explora nuestra amplia gama de vehículos y encuentra el auto perfecto para ti.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'public:catalogo' %}" role="button">Ver Autos Disponibles</a>
    </div>
{% endblock content %}
